@layer utilities {
    @keyframes border-beam {
        100% {
            offset-distance: 100%;
        }
    }

    .animate-border-beam {
        animation: border-beam calc(var(--duration)*1s) infinite linear;
    }
}